
.ipynb_checkpoints/notes-checkpoint.ipynb
.ipynb_checkpoints/Code1-checkpoint.ipynb
.ipynb_checkpoints/Sympy_correlation_func_1-checkpoint.ipynb
.ipynb_checkpoints/Experimental Setup-checkpoint.ipynb
.ipynb_checkpoints/Sympy_correlation_func-checkpoint.ipynb
.ipynb_checkpoints/notes-Copy1-checkpoint.ipynb
.ipynb_checkpoints/notes-m-checkpoint.ipynb
.ipynb_checkpoints/Quantum_Circuit_expt_A_and_B_modified-checkpoint.ipynb
.ipynb_checkpoints/notes-m-interactive QC plots-checkpoint.ipynb
.ipynb_checkpoints/Project 2-checkpoint.ipynb
.ipynb_checkpoints/Project 2-checkpoint.ipynb
