
.ipynb_checkpoints/notes-checkpoint.ipynb
.ipynb_checkpoints/Code1-checkpoint.ipynb
.ipynb_checkpoints/Sympy_correlation_func_1-checkpoint.ipynb
.ipynb_checkpoints/Experimental Setup-checkpoint.ipynb
